/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Sarabun', sans-serif;
    font-size: px; /* <-- ปรับขนาดฟอนต์พื้นฐานที่นี่ */
}

/* Custom scrollbar */
::-webkit-scrollbar { 
    width: 8px; 
}
::-webkit-scrollbar-track { 
    background: transparent; 
}
::-webkit-scrollbar-thumb { 
    background: #C9B7AB; 
    border-radius: 10px; 
}
.dark ::-webkit-scrollbar-thumb { 
    background: #3a3532; 
}